@tailwind base;
@tailwind components;
@tailwind utilities;

#customNav {
  height: 100px;
}

#textNav {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#logoNewsX {
  height: 60px;
}

h1 {
  font-size: 45px;
}

img {
  width: 325;
  height: 577px;
}

p {
  text-align: justify;
}



